{{ define "index" }}
<!doctype html>
<html class="no-js" lang="">
  {{ template "header" }}
  <body>

    <div id="wrap">

      {{ template "navbar" }}

      <!-- Begin page content -->
      <div id="content">

        <div class="container">
          <div class="row">
            <div class="col-md-12">

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Latency Report</h3>
                </div>
                <div class="panel-body">
                  <p>This application is an uptime collection mechanism associated with the Mora project.</p>

                  <img style="width:100%;" src="/assets/img/mora.png" title="Mora Architecture Diagram" />
                  <p class="text-center text-info"><small><strong>Figure 1: The Mora Architecture</strong></small></p>


                  <p>Mora (delay, waiting) observes ping latencies between nodes in a wide area, heterogenous, user-oriented network by running a local service that pings other nodes in the network. Oro (speak) is the name of the mobile application, and Scio (understand) is the name of the desktop client.</p>
                  <p>Soon this page will display the latest observed status of the ping network, but is still under construction.</p>
                </div>
              </div>

            </div>
          </div><!-- row ends -->

        </div><!-- container ends -->
      </div><!-- content ends -->

    </div>


    {{ template "footer" }}
    {{ template "javascripts" }}
  </body>
</html>
{{ end }}
