{{ define "index" }}
<!doctype html>
<html class="no-js" lang="">
  {{ template "header" }}
  <body>

    <div id="wrap">

      {{ template "navbar" }}

      <!-- Begin page content -->
      <div id="content">

        <div class="container">
          <div class="row">

            <!-- Node Column -->
            <div class="col-md-5">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Registered Devices</h3>
                </div>

                <div class="panel-body">
                  <p>The last ten updated devices on Scribo:</p>
                </div>

                <table class="table table-striped table-bordered">
                  <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>IP Address</th>
                    <th>Domain Name</th>
                  </thead>
                  <tbody>
                    {{ with .Nodes }}
                      {{ range . }}
                    <tr>
                      <td>{{ .ID }}</td>
                      <td>{{ .Name }}</td>
                      <td>{{ .Address }}</td>
                      <td>{{ .DNS }}</td>
                    </tr>
                      {{ end }}
                    {{ end }}
                  </tbody>
                </table>
              </div>
            </div>

            <!-- Ping Column -->
            <div class="col-md-7">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Latency Report</h3>
                </div>

                <div class="panel-body">
                  <p>The latest pings from the API are as follows:</p>
                </div>

                <table class="table table-striped table-bordered">
                  <thead>
                    <th>Source</th>
                    <th>Target</th>
                    <th>Latency</th>
                    <th>Timed Out</th>
                    <th>Size</th>
                  </thead>
                  <tbody>
                    {{ with .Pings }}
                      {{ range .}}
                    <tr>
                      <td>{{ .Source }}</td>
                      <td>{{ .Target }}</td>
                      <td>{{ .Latency }}</td>
                      <td>{{ .Timeout }}</td>
                      <td>{{ .Payload }}</td>
                    </tr>
                      {{ end }}
                    {{ end }}
                  </tbody>
                </table>
              </div>
            </div>

          </div><!-- row ends -->

        </div><!-- container ends -->
      </div><!-- content ends -->

    </div>


    {{ template "footer" }}
    {{ template "javascripts" }}
  </body>
</html>
{{ end }}
